html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 252, 255);
}

header {
  /* position: sticky; */
  background-color: rgb(194, 231, 243);
  height: 40px;
  top: 0;
}

footer {
  background-color: rgb(194, 231, 243);
  bottom: 0;
  width: 100%;
  height: 40px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 auto;
}

.container--header {
  width: 80%;
}

.container--footer {
  width: 95%;
}

.container > .list {
  flex: 1 1 60%;
}
.container > .map {
  flex: 1 1 40%;
}

.item {
  /* Remove later, color just an indicator*/
  /* background-color: rgb(220, 210, 210); */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#kuva {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo {
  max-width: 40px;
  margin-right: 10px;
  max-height: 40px;
  object-fit: cover;
}

.map,
#map {
  height: 400px;
  min-height: 300px;
}
