body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

.container {
        display: flex;
        justify-content: space-around;
    }
.item {
    background-color: rgb(197, 180, 180);
    width: 100px;
    height: 40px;
}