html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 252, 255);
}

header {
  /* position: sticky; */
  background-color: rgb(194, 231, 243);
  height: 60px;
  top: 0;
}

main {
  width: 90%;
  margin: 0 auto;
}

footer {
  background-color: rgb(194, 231, 243);
  bottom: 0;
  width: 100%;
  height: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 auto;
}

.container--header {
  width: 80%;
  height: 100%;
}

.container--footer {
  width: 95%;
}

.container > .list {
  flex: 1 1 60%;
}
.container > .map {
  flex: 1 1 40%;
}

.item {
  /* Remove later, color just an indicator*/
  /* background-color: rgb(220, 210, 210); */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#kuva {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo {
  margin-right: 10px;
  max-height: 100%;
  object-fit: cover;
}

.list {
  overflow-y: scroll;
  height: 350px;
}

.map,
#map {
  height: 350px;
  min-height: 250px;
}

/* unvisited link */
a:link,
a:visited {
  color: blue;
  padding: 10px;
  /* text-decoration: none; */
}

/* mouse over link */
a:hover,
a:active {
  color: rgb(190, 44, 190);
}
