body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
    background-color: rgb(194, 231, 243);
    height: 40px;
}

footer {
    background-color: rgb(194, 231, 243);
    height: 40px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.item {
  background-color: rgb(197, 180, 180);
  height: 40px;
}

#kuva {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
