html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 252, 255);
}

header {
  position: sticky;
  background-color: rgb(194, 231, 243);
  height: 40px;
  top: 0;
}

footer {
  background-color: rgb(194, 231, 243);
  bottom: 0;
  width: 100%;
  height: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.item {
  background-color: rgb(220, 210, 210);
  height: 40px;
}

#kuva {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
