html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 252, 255);
}

header {
  /* position: sticky; */
  background-color: rgb(194, 231, 243);
  height: 60px;
  top: 0;
}

main {
  width: 90%;
  margin: 0 auto;
  flex: 1;
}

footer {
  background-color: rgb(194, 231, 243);
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 auto;
}

.container--header {
  width: 80%;
  height: 100%;
}

.container--main {
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.container--footer {
  width: 95%;
}

.container--main > .list {
  flex: 1 1 60%;
  width: 60%;
}
.container--main > .map {
  flex: 1 1 40%;
  width: 40%;
}

.item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.restaurant:hover {
  background: #e3e3e3;
}

#kuva {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo {
  margin-right: 10px;
  max-height: 100%;
  object-fit: cover;
}

#loginRegisterButton {
  cursor: pointer;
}

#loginRegisterButton:hover {
  background-color: rgb(201, 234, 245);
}

#restaurantList {
  overflow-y: scroll;
  height: 320px;
}

.map,
#map {
  width: 100%;
  height: 320px;
  min-height: 250px;
}

@media (max-width: 700px) {
  .container--main {
    flex-direction: column;
  }
  .container--main > .list,
  .container--main > .map {
    flex: none;
    width: 100%;
  }
  #restaurantList {
    height: 200px;
  }
}

/* unvisited link */
a:link,
a:visited {
  color: black;
  padding: 10px;
  /* text-decoration: none; */
}

/* mouse over link */
a:hover,
a:active {
  color: rgb(103, 99, 103);
}

.dialogForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dialogButton {
  display: flex;
  justify-content: space-between;
}

#registerButton,
#loginButton {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
